
<%- include("../partials/adminHeader.ejs")%>
<div class="row">
<div class="text-center">
<img src="/adminImages/adminhome.jpg" class="img-fluid rounded mx-auto d-block" alt="" style="width: fit-content;" srcset="">
</div>
</div>
<%- include("../partials/footer.ejs")%>