

<script src="http://localhost:3000/js/jquery-3.3.1.min.js"></script>
<script src="http://localhost:3000/js/jquery-ui.js"></script>
<script src="http://localhost:3000/js/popper.min.js"></script>
<script src="http://localhost:3000/js/bootstrap.min.js"></script>
<script src="http://localhost:3000/js/owl.carousel.min.js"></script>
<script src="http://localhost:3000/js/jquery.magnific-popup.min.js"></script>
<script src="http://localhost:3000/js/aos.js"></script>

<script src="js/main.js"></script>
  
</body>
</html>

